{% extends "layout.html" %}
{% block title %}{% trans %}Login{% endtrans %}{% endblock %}
{% block toptext %}
{% trans %}{{trust_root}} is asking to authenticate via OpenID using the Fedora Account System{% endtrans %}
{% endblock %}
{% block body %}
    {% trans %}Login with your FAS credentials{% endtrans %}
    <div>
        <form method="post" action="/fas/login/">
            <p class="form_item">
                <input name="username" placeholder="{% trans %}FAS Username{% endtrans %}" autofocus>
            </p>
            <p class="form_item">
                <input name="password" type="password" placeholder="{% trans %}Password{% endtrans %}">
            </p>
            <p class="form_item">
                <input type="submit" value="{% trans %}login{% endtrans %}">
            </p>
            <a href="https://admin.fedoraproject.org/accounts/user/new" target="_blank" class="button">Create a new account</a>
        </form>
    </div>
{% endblock %}
