{% extends auth_module_login %}
{% block action %}#{% endblock %}
{% block form_options %}onSubmit="checkLogin(self); return false;"{% endblock %}

{% block javascript %}
<script src="https://login.persona.org/authentication_api.js"></script>
<script type="text/javascript">
String.prototype.endsWith = function(suffix) {
    return this.indexOf(suffix, this.length - suffix.length) !== -1;
};

var xmlhttp = new XMLHttpRequest();

xmlhttp.onreadystatechange=function()
{
    if (xmlhttp.readyState==4)
    {
        if(xmlhttp.status == 200)
        {
            navigator.id.completeAuthentication();
            return;
        }
        alert(xmlhttp.responseText);
    }
}

function checkLogin(form)
{
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;
    xmlhttp.open("POST","/fas/login/persona/",true);
    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlhttp.send("username=" + username + "&password=" + password);
    alert(xmlhttp);
}

var domain = '{{domain}}';

navigator.id.beginAuthentication(function(email) {
    if(email.endsWith('@' + domain))
    {
        document.getElementById('username').value = email.substring(0, email.indexOf('@' + domain));
    }
    else
    {
        alert(email);
    }
})
</script>
{% endblock %}
