{% extends auth_module_login %}
{% block action %}#{% endblock %}
{% block form_options %}onSubmit="checkLogin(self); return false;"{% endblock %}

{% block javascript %}
<script src="https://login.persona.org/authentication_api.js"></script>
<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();

xmlhttp.onreadystatechange=function()
{
    if (xmlhttp.readyState==4)
    {
        alert("Response code: " + xmlhttp.status);
        alert("Response text: " + xmlhttp.responseText);
    }
}

function checkLogin(form)
{
    xmlhttp.open("POST","/fas/login/persona/",true);
    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlhttp.send("username=" + "&passwod=" + "");
    alert(xmlhttp);
}
</script>
{% endblock %}
