{% extends "layout.html" %}
{% block title %}{% trans %}Approval{% endtrans %}{% endblock %}
{% block toptext %}
{% trans %}{{trust_root}} is asking to authenticate via OpenID using FedOAuth{% endtrans %}
{% endblock %}
{% block body_classes %}final{% endblock %}
{% block body %}
    {% trans %}Review the authorization details{% endtrans %}
    <div>
        <form method="post" action="{{action}}">
            <input type="hidden" name="form_filled" value="true" />
            <p class="form_item">
                <table class="details">
                    <tr>
                        <td>Trust Root</td>
                        <td>{{trust_root}}</td>
                    </tr>
                    <tr>
                        <td>{% trans %}Privacy Policy{% endtrans %}</td>
                        <td>{{sreg_policy_url}}</td>
                    </tr>
                    {% for entry in data %}
                        <tr>
                            <td>{{entry['text']}}</td>
                            <td>{{entry['value']}}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td>{% trans %}Remember approval for{% endtrans %}</td>
                        <td><select name="rememberForDays">
                                <option value="0">0 days</option>
                                <option value="3">3 days</option>
                                <option value="7">7 days</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </p>
            <p class="form_item">
                <input type="submit" name="decided_deny" value="{% trans %}Reject{% endtrans %}">
                <input type="submit" name="decided_allow" value="{% trans %}Approve{% endtrans %}">
            </p>
        </form>
    </div>
{% endblock %}
