# Beware that the quotes around the values are mandatory

# GENERAL CONFIGURATION
### url to the database server:
SQLALCHEMY_DATABASE_URI='sqlite:///fedoauth.sqlite'
#SQLALCHEMY_DATABASE_URI='mysql://user:pass@host/db_name'
#SQLALCHEMY_DATABASE_URI='postgresql://user:pass@host/db_name'

# This is the OpenID endpoint url, at which the server is available
WEBSITE_ROOT = 'http://localhost:5000'
COOKIE_DOMAIN = 'localhost'
COOKIE_SECURE = False
# Whether or not to check the address of the remote computer on retrieving the session
# MAKE SURE TO DISABLE THIS if you have reverse proxies and not send the remote_addr headers on
COOKIE_CHECK_REMOTE_ADDR = True

# Modules to use
AUTH_MODULE='fedoauth.auth.fas.Auth_FAS'

# FAS PROVIDER CONFIGURATION
FAS_BASE_URL = 'https://admin.fedoraproject.org/accounts/'
FAS_USER_AGENT = 'FAS-OpenID'
FAS_CHECK_CERT = True
# Enable a filter to make this only available to a specific list of users
FAS_AVAILABLE_FILTER = False
FAS_AVAILABLE_TO = []
# Set this to True to always send all groups when the _FAS_ALL_GROUPS_ group is requested
FAS_HANDLE_GROUPS_MAGIC_VALUE = False

# PERSONA CONFIGURATION
# This is the domain for which we are willing to sign
PERSONA_DOMAIN = 'localhost'
# Issuer is most often equal to PERSONA_DOMAIN, except when using delegation.
# In case of delegation, enter the domain of the IDENTITY PROVIDER here, and the domain of the EMAIL ADDRESSES in PERSONA_DOMAIN
PERSONA_ISSUER = 'localhost'
PERSONA_PRIVATE_KEY_PATH = 'persona.key'
PERSONA_PRIVATE_KEY_PASSPHRASE = 'test123'

# OPENID CONFIGURATION
# This is the OpenID url provided to users. Add %(username)s where the username should be entered
OPENID_IDENTITY_URL = 'http://localhost:5000/id/%(username)s/'
# A list of trust roots for which the user will not need to confirm again
OPENID_TRUSTED_ROOTS = []
OPENID_NON_TRUSTED_ROOTS = []
### The maximum time after which the user must re-authenticate for OpenID in minutes (use 0 for no limit)
OPENID_MAX_AUTH_TIME = 15
