# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
flask
sqlalchemy
python-fedora
python-openid
python-openid-teams
python-openid-cla
M2Crypto
enum
itsdangerous
python-ldap
