{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block toptext %}
{{ login_target }} is asking to authenticate using the Fedora Account System
{% endblock %}
{% block body %}
    Login with your FAS credentials
    {% if error %}<p>{{error}}</p>{% endif %}
    <div>
        <form method="post" {% block form_options %}{% endblock %} action="{{ form_url }}">
            <input type="hidden" name="transaction" value="{{ transaction}}"/>
            <p class="form_item">
                <input id="username" name="username" placeholder="FAS Username" autofocus value="{{ username }}" {% if forced_username %}disabled="disabled" readonly="readonly"{% endif %}/>
            </p>
            <p class="form_item">
                <input id="password" name="password" type="password" placeholder="Password" />
            </p>
            <p class="form_item">
                <input type="submit" id="loginbutton" value="Login">
                <input type="submit" name="cancel" value="Cancel">
            </p>
        </form>
    </div>
{% endblock %}
