{% extends "layout.html" %}
{% block title %}{% trans %}pySilvia request{% endtrans %}{% endblock %}
{% block toptext %}
{% trans %}Please click the continue button.{% endtrans %}
{% endblock %}
{% block body %}
<form id="startForm" action="{{ pysilvia_url }}" method="POST">
    <input type="hidden" name="requestor" value="{{ requestor_id }}">
    <input type="hidden" name="request" value="{{ request }}">
    <input type="submit" value="Start">
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    document.getElementById('startForm').submit();
</script>
{% endblock %}
