{% extends "layout.html" %}
{% block title %}webSilvia request{% endblock %}
{% block toptext %}
Please click the continue button.
{% endblock %}
{% block body %}
<form id="startForm" action="{{ websilvia_url }}" method="POST">
    <input type="hidden" name="requestor" value="{{ requestor_id }}">
    <input type="hidden" name="request" value="{{ request }}">
    <input type="submit" value="Start">
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    document.getElementById('startForm').submit();
</script>
{% endblock %}
