{% extends "layout.html" %}
{% block title %}{% trans %}Login{% endtrans %}{% endblock %}
{% block toptext %}
{% trans %}{{trust_root}} is asking to authenticate via OpenID using the Fedora Account System{% endtrans %}
{% endblock %}
{% block body %}
    {% trans %}Login with your FAS credentials{% endtrans %}
    <div>
        <form method="post" action="/login/">
            <p class="form_item">
                <input name="username" placeholder="{% trans %}FAS Username{% endtrans %}">
            </p>
            <p class="form_item">
                <input name="password" type="password" placeholder="{% trans %}Password{% endtrans %}">
            </p>
            <p class="form_item">
                <input type="submit" value="{% trans %}login{% endtrans %}">
            </p>
            <p class="form_items">
                <button onClick="javascript:window.open('https://admin.fedoraproject.org/accounts/user/new', '_blank');">Create a new account</button>
            </p>
        </form>
    </div>
{% endblock %}
