{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block toptext %}
<span class="appname">{{trust_root}}</span> is asking to authenticate via OpenID using the Fedora Account System
{% endblock %}
{% block body %}
    Login with your FAS credentials
    <div>
        <form method="post" action="/login/">
            <p class="form_item">
                <input name="username" placeholder="FAS Username">
            </p>
            <p class="form_item">
                <input name="password" type="password" placeholder="Password">
            </p>
            <p class="form_item">
                <input type="submit" value="login">
            </p>
        </form>
    </div>
{% endblock %}
